@keyframes add-frame-hover-animation {
    from { background-color: none; }
    to { background-color: rgba(255, 255, 255, 0.2); }
}

@keyframes select-frame-animation {
    from {
        margin-right: 5px;
    }

    to {
        margin-right: 10px;
        margin-left: 5px;
        border-color: yellow;
        color: yellow;
    }
}

@keyframes unselect-frame-animation {
    from {
        margin-right: 10px;
        margin-left: 5px;
    }

    to {
        margin-right: 5px;
    }
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: grey;

    canvas#main-canvas {
        background-color: #10101A;
    }

    div#ui-container {
        position: absolute;
        top: 10px;
        left: 10px;
        height: inherit;
        width: inherit;
        -webkit-user-select: none;

        div.wrapper {
            position:relative;
            min-height: 100%;
            width: 100%;
        }

        div.frame-controller {
            position: absolute;
            bottom: 0;
            margin: 0 15%;
            height: 150px;
            width: 70%;
            border: 1px solid white;
            background-color: rgba(255, 255, 255, 0.2);
            color: white;
            padding: 0 10px;

            .frame-list {
                float: left;
                width: calc(~"100% - 54px");
                height: 150px;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                padding: 0 5px;

                &::-webkit-scrollbar {
                    height: 30px;
                    width: 12px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: white;
                    -webkit-border-radius: 5px;
                }

                .frame-item {
                    animation-name: unselect-frame-animation;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;

                    width: 30px;
                    height: 134px;
                    margin-top: 15px;
                    border: 1px solid white;
                    background-color: rgba(255, 255, 255, 0.2);
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    .frame-label {
                        margin-left: 5px;
                    }
                }

                .frame-item.selected {

                    animation-name: select-frame-animation;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                }
            }

            .add-frame-button {
                float: right;
                width: 30px;
                height: 100%;
                margin-top: 15px;
                border: 2px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    animation-name: add-frame-hover-animation;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                }

                span.button-label {
                    width: 150px;
                    height: 30px;
                    display: inline-block;
                    position: relative;
                    transform: rotate(-90.0deg);
                    left: -53px;
                    bottom: -45px;
                    text-align: center;
                }
            }
        }

        .ui-panel {
            padding: 5px;
            border: 1px solid white;
            background-color: rgba(255, 255, 255, 0.2);
            width: 220px;
            margin: 5px;
            color: white;

            textarea {
                width: 214px;
                resize: vertical;
            }

            &.all-elements-panel {
                .add-element-selector {
                    width: 104px;
                }
            }

            &.all-elements-panel {
                label {
                    font-weight: bold;
                }

                .element {
                    clear: both;
                }

                .element-name {
                    font-size: 10pt;
                }

                .element-name:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                .remove-icon, .move-down-icon {
                    float: right;
                    cursor: pointer;
                    margin-left: 5px;
                }

                .remove-icon:hover {
                    color: red;
                }

                .move-down-icon:hover {
                    color: green;
                }

            }

            .meta-field {
                input {
                    width: 70%;
                    float: right;
                }

                clear: both;
            }

            .meta-field:not(:last-child) {
                margin-bottom: 5px;
            }

            input[type=button].button-transparent, button.button-transparent {
                background-color: black;
                border-color: white;
                color: white;
                border-radius: 5px;
                outline: none;
                margin: 5px;

                &:not(:last-child) {
                    margin-right: 5px;
                }

                &[disabled] {
                    color: grey;
                }
            }
        }
        .unobtrusive-ui-panel {
            input[type=button].button-transparent, button.button-transparent {
                background-color: rgba(0, 0, 0, 0.3);
                border-color: rgba(255, 255, 255, 0.3);
                color: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                outline: none;
                margin: 5px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &[disabled] {
                    color: rgba(128, 128, 128, 0.3);
                }
            }
        }

    }
}
