doctype html
html
    head
        meta(charset="UTF-8")
        script
            | appConfig = require('../config.json')
            | locale = require('../locale.json')
            | window.$ = window.jQuery = require('jquery')
            | window.ko = require('knockout')
            | require('jquery-mousewheel')

        script(type="text/javascript" src=appJs)

        link(rel="stylesheet" type="text/css" href=appCss)
        title
            | Presently - Empowering Presentation Machine
    body
        canvas#main-canvas
        #ui-container
            .wrapper
                div(data-bind="css: { 'ui-panel': mode() == 'edit', 'unobtrusive-ui-panel': mode() == 'view' }")
                    input.button-transparent(type="button"
                                             value=locale.startPresenting
                                             data-bind="enable: canStartPresenting() && mode() == 'edit', click: startPresenting")
                    input.button-transparent(type="button"
                                             value=locale.endPresentation
                                             data-bind="enable: mode() == 'view', click: endPresentation")
                    input.button-transparent(type="button"
                                             value=locale.nextEvent
                                             data-bind="enable: canTriggerNextEvent(), click: triggerNextEvent")


                .ui-panel.presentation-metadata-panel(data-bind="visible: isInEditMode()")
                    .meta-field
                        label  #{locale.field_backgroundUri}
                        input.element-title(data-bind="value: backgroundUri")


                    input.apply-changes.button-transparent(type="button"
                                        value=locale.applyMetadataChanges
                                        data-bind="click: applyPresentationMetadata")

                .ui-panel.frame-metadata-panel(data-bind="visible: isMetadataPanelVisible(), with: currentSelectedFrame")
                    .meta-field
                        label  #{locale.field_lerpFactor}
                        input.element-title(data-bind="value: lerpFactor")   
                    input.reframe.button-transparent(type="button" value=locale.reframe, data-bind="click: reframe")
                    input.goto.button-transparent(type="button" value=locale.goto data-bind="click: goTo")
                    input.remove.button-transparent(type="button" value=locale.removeFrame data-bind="click: removeFrame")
                    input.move-right.button-transparent(type="button" value=locale.moveRight data-bind="click: moveFrameRight, enable: canMoveFrameRight()")
                    
                .ui-panel.all-elements-panel(data-bind="visible: isAllElementsPanelVisible")
                
                    select.add-element-selector(data-bind="options: availableElementTypes, \
                                                           optionsCaption: 'Select Element', \
                                                           optionsText: 'displayName', \
                                                           value: selectedElementType")
                    input.button-transparent(type="button"
                                            value=locale.addElement
                                            data-bind="click: placeElement")
                                            
                    label #{locale.elements}
                    
                    .element-enumeration(data-bind="foreach: activeFrameElements()")
                        .element
                            span.element-name(data-bind="text: observableFor('title'), click: $root.selectThisElement.bind($root)")
                            span.remove-icon(data-bind="click: deleteElement") #{locale.remove}
                            span.move-down-icon(data-bind="visible: canMoveDown($index(), $parent.activeFrameElements()), click: moveDown") #{locale.moveDown}
        
                .ui-panel.current-element(data-bind="visible: $root.currentElementPanelVisible, with: $root.currentSelectedFrameElement")
                    .meta-fields(data-bind="foreach: observableFields")
                        .meta-field
                            .input-field(data-bind="if: $data instanceof Presently.UI.ObservableNumberField \
                                                     || $data instanceof Presently.UI.ObservableStringField")
                                label(data-bind="text: getLabel()")
                                input.element-title(data-bind="value: internalObservable")
                                
                            .note-field(data-bind="if: $data instanceof Presently.UI.ObservableNoteField")
                                label(data-bind="text: getLabel()")
                                textarea.element-title(data-bind="value: internalObservable")

                .frame-controller(data-bind="visible: isFrameControllerVisible()")
                    .frame-list(data-bind="foreach: frames")
                        .frame-item(data-bind="singleOrDoubleClick: { click: $root.setCurrent.bind($root), \
                                                                      dblclick: $root.setCurrentAndGoToFrame.bind($root) }, \
                                               css: { selected: $data == $root.currentSelectedFrame() }")
                            span.frame-label(data-bind="text: $index() + 1")
                    .add-frame-button(data-bind="click: placeFrame")
                        span.button-label #{locale.addFrame}
